<footer>
  <div class="page-container">
    <div class="wrap">
      <div class="block-left">
        <p><a href="<%- url_for('/') %>"><%= _p('home') %></a></p>
        <p><a href="<%= _p('links.mytherwallet') %>" target="_blank">MyEtherWallet.com</a></p>
        <p><a href="<%= _p('links.privacy_policy') %>" target="_blank"><%= _p('privacy') %></a></p>
        <p><a href="<%= _p('links.terms_and_conditions') %>" target="_blank"><%= _p('terms') %></a></p>
      </div>
      <div class="block-right">
        <p><%= _p('copyright') %></p>
      </div>
    </div>
  </div>
</footer>