<div class="content-body">
  <%- partial('mew/components/selector-major-categories', {category: 'videos'}) %>

  <div class="mew___categories_cat-videos page-container">
    <div class="wrap">
      <div class="youtube-container" style="padding-bottom: 40px; border-bottom: #536d8b 2px solid; margin-bottom: 20px">
        <div class="sidebar">
          <%= _p('index.v5') %>
        </div>
        <ul>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/mew5-create-a-wallet.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.label_v5') %>:</p>
                <p><%= _p('video_tab.title_one_v5') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/x7U6aEujVnk">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/mew5-wallet-overview.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.label_v5') %>:</p>
                <p><%= _p('video_tab.title_two_v5') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/KISROTeoN3M">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/mew5-using-mew-offline.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.label_v5') %>:</p>
                <p><%= _p('video_tab.title_three_v5') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/9_6EU1QPU0k">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="youtube-container">
        <div class="sidebar">
          <%= _p('index.mewconnect') %>
        </div>
        <ul>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/part1.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.labelMC', 1) %>:</p>
                <p><%= _p('video_tab.title_one_mc') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/p2q6qrcKtj8">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/part2.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.labelMC', 2) %>:</p>
                <p><%= _p('video_tab.title_two_mc') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/1aZANjFEQ7I">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/part3.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.labelMC', 3) %>:</p>
                <p><%= _p('video_tab.title_three_mc') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/OAjq6Rh5itY">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/part4.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.labelMC', 4) %>:</p>
                <p><%= _p('video_tab.title_four_mc') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/_u5-kUPn3vw">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/part5.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.labelMC', 5) %>:</p>
                <p><%= _p('video_tab.title_five_mc') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/RjgxxNgTBGM">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <%- partial('mew/components/bottom-helpers') %>
  </div>
</div>
