<div class="content-body">
  <%- partial('mew/components/selector-major-categories', {category: 'videos'}) %>

  <div class="mew___categories_cat-videos page-container">
    <div class="wrap">
      <div class="youtube-container">
        <div class="sidebar">
          <%= _p('index.mewconnect') %>
        </div>
        <ul>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/part1.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.labels', 1) %>:</p>
                <p><%= _p('video_tab.title_one') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/p2q6qrcKtj8">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/part2.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.labels', 2) %>:</p>
                <p><%= _p('video_tab.title_two') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/1aZANjFEQ7I">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/part3.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.labels', 3) %>:</p>
                <p><%= _p('video_tab.title_three') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/OAjq6Rh5itY">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/part4.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.labels', 4) %>:</p>
                <p><%= _p('video_tab.title_four') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/_u5-kUPn3vw">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="/images/youtube/part5.jpg">
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.labels', 5) %>:</p>
                <p><%= _p('video_tab.title_five') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/embed/RjgxxNgTBGM">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <%- partial('mew/components/bottom-helpers') %>
  </div>
</div>
