<div class="header-top-block">
    <div class="left">
        <a href="/<%= page.lang %>/"><%- image_tag('images/mew-logo-white.png', {alt: ''}) %></a>
        <p><%= _p('help_center') %></p>
    </div>
    <div class="right">
        <ul>
            <% for (var i in theme.menu){ %>
                <li><a class="main-nav-link" href="<%- url_for_lang(theme.menu[i]) %>"><%= _p(i) %></a></li>
            <% } %>
            <li class="relative lang-select-container">
                <div class="flag no-line-height" id="lang-select-label" for="lang-select" class="lang-nav-link"><%- image_tag('images/flags/' + page.lang + '.svg', {width: 40, height: 20, alt: ''}) %></div>
                <div class="lang-select-box hidden">
                    <span class="arrow-up"></span>
                    <div>
                        <% for (let lang in active_languages()){ %>
                        <div class="lang-select <% if (page.lang === lang){ %> selected<% } %>" data-lang="<%= lang %>" data-current-lang="<%= page.lang %>" data-path="<%= page.path %>"><%= lang_name(lang) %></div>
                      <% } %>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

