
<div class="breadcrumbs-container page-container">
  <%- partial('mew/components/breadcrumbs', null) %>
</div>
<div class="article-container page-container">
  <div class="wrap-sidebar">
    <%- partial('mew/components/sidebar/sidebar-primary-category', null, {cache: !config.relative_link}) %>
  </div>
  <div class="wrap-post-body">
    <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
      <%- post.content %>
    </article>
    <div class="thumbs-and-share-container">
      <div class="thumbs">
        <%- partial('mew/components/thumbs-up-down', null, null) %>
      </div>
      <div class="share">
        <%- partial('mew/components/share', null, null) %>
      </div>
    </div>
  </div>
</div>

