
<div class="desktop-content">
  <div class="breadcrumbs-container page-container">
    <%- partial(theme.theme_desktop + '/components/breadcrumbs', null) %>
  </div>
  <div class="article-container page-container">
    <div class="wrap-sidebar">
      <%- partial(theme.theme_desktop + '/components/sidebar/sidebar-primary-category', null) %>
    </div>
    <div class="wrap-post-body">
      <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
        <%- post.content %>
      </article>
      <script
              type="text/javascript"
              src="https://crowdin.com/js/crowdjet/crowdjet.js">
      </script>
      <div
              id="crowdjet-container"
              data-project-id="361641"
              style="bottom: 90px; right: 20px;">
      </div>
      <div
              id="crowdjet-expand-container"
              style="bottom: 10px; right: 20px;">
      </div>
      <div class="thumbs-and-share-container">
        <div class="share">
          <%- partial(theme.theme_desktop + '/components/share', null) %>
        </div>
      </div>
      <div class="pre-next-posts">
        <%- partial(theme.theme_desktop + '/components/related-posts', null) %>
      </div>
    </div>
  </div>
</div>
<div class="mobile-content">
  <div class="breadcrumbs-container page-container hidden">
    <%- partial(theme.theme_mobile + '/components/breadcrumbs', null) %>
  </div>
  <div class="article-container page-container">
    <div class="wrap-sidebar">
      <%- partial(theme.theme_mobile + '/components/sidebar/sidebar-primary-category', null) %>
    </div>
    <div class="wrap-post-body">
      <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
        <%- post.content %>
      </article>
      <div class="thumbs-and-share-container">
        <div class="share">
          <%- partial(theme.theme_mobile + '/components/share', null) %>
        </div>
      </div>
      <div class="pre-next-posts">
        <%- partial(theme.theme_mobile + '/components/related-posts', null) %>
      </div>
    </div>
    <div class="padded-wrap">
      <%- partial(theme.theme_mobile + '/components/sidebar/sidebar-customer-support-block', null) %>
    </div>
  </div>
</div>
