<header>
  <div class="header-wrap page-container">
    <div class="top-block">
      <div class="left">
        <a href="<%- url_for('') %>"><%- image_tag('images/mew-logo-white.png') %></a>
        <p><%= _p('help_center') %></p>
      </div>
      <div class="right">
        <ul>
          <% for (var i in theme.menu){ %>
            <li><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="search-block header-search-block">
      <div class="search-title"><%= _p('tag_line') %></div>
      <div class="search-form-container">
        <%- partial('mew/components/header/header-search-form', null) %>
      </div>
      <p class="search-bottom-text">
        <%= _p('misc.top_searches') %>
        <a href="<%- url_for('/posts/mewconnect/mewconnect-101-create/') %>"><%= _p('index.mewconnect') %></a> /
        <a href="<%- url_for('/posts/swap/buy-eth-via-simplex/') %>"><%= _p('index.swap') %></a> /
        <a href="<%- url_for('/posts/transactions/how-to-send-a-transaction/') %>"><%= _p('misc.send_eth') %></a> /
        <a href="<%- url_for('/posts/security-and-privacy/ensuring-mew-doesnt-give-people-same-address/') %>"><%= _p('index.security') %></a> /
        <a href="<%- url_for('/posts/getting-started/myetherwallet-an-introduction/') %>"><%= _p('misc.blockchain') %></a> /
        <a href="<%- url_for('/posts/getting-started/how-to-create-a-wallet/') %>"><%= _p('misc.create_wallet') %></a>
      </p>
    </div>
  </div>
</header>