<div class="mew___components_major-categories page-container">
  <ul>
    <li class="<%= category == 'faqs' ? 'active' : '' %>" ref="tab1"><a href="<%- url_for_lang('/faqs') %>"><span><%= _p('faqs') %></span></a></li>
    <li class="<%= category == 'categories' ? 'active' : '' %>" ref="tab2"><a href="<%- url_for_lang('/categories') %>"><span><%= _p('categories') %></span></a></li>
    <li class="<%= category == 'videos' ? 'active' : '' %>" ref="tab3"><a href="<%- url_for_lang('/videos') %>"><span><%= _p('videos') %></span></a></li>
  </ul>
</div>
