<div class="mew___components_bottom-helpers">
  <div class="block-item">
    <div class="icon-image">
      <%- image_tag('images/mew-icons/customer-support.svg') %>
    </div>
    <div class="content">
      <div class="title"><%= _p('help.customer_support') %></div>
      <p><%= _p('help.cantFind') %></p>
      <div class="email-us">
        <a
          class="d-flex align-items-center"
          href="mailto:support@myetherwallet.com"
          target="_blank"
        >
          <p><%= _p('help.email_us') %></p>
          <div>➜</div>
        </a>
      </div>
    </div>
  </div>
  <div class="block-item">
    <div class="icon-image">
      <%- image_tag('images/mew-icons/community.svg') %>
    </div>
    <div class="content">
      <div class="title"><%= _p('help.community') %></div>
      <p><%= _p('help.community_join') %></p>
      <div class="community-links">
        <a href="<%= _p('links.reddit') %>" target="_blank">
          <%- image_tag('images/mew-icons/reddit.svg') %></a
        >
        <a href="<%= _p('links.github') %>" target="_blank">
          <%- image_tag('images/mew-icons/github.svg') %></a
        >
        <a href="<%= _p('links.medium') %>" target="_blank">
          <%- image_tag('images/mew-icons/medium.svg') %></a
        >
        <a href="<%= _p('links.youtube') %>" target="_blank">
          <%- image_tag('images/mew-icons/youtube.png') %></a
        >
        <a href="<%= _p('links.vkontakte') %>" target="_blank">
          <%- image_tag('images/mew-icons/vkontakte.png') %></a
        >
        <a href="<%= _p('links.mewtopia') %>" target="_blank">
          <%- image_tag('images/mew-icons/mewtopia.png') %></a
        >
        <a class="border-radius" href="<%= _p('links.facebook') %>" target="_blank">
          <%- image_tag('images/mew-icons/facebook.png') %></a
        >
        <a class="border-radius" href="<%= _p('links.twitter') %>" target="_blank">
          <%- image_tag('images/mew-icons/twitter.jpg') %></a>
        <a class="border-radius" href="<%= _p('links.telegram') %>" target="_blank">
          <%- image_tag('images/mew-icons/telegram.svg') %></a>
      </div>
    </div>
  </div>
</div>
<!-- .bottom-helpers -->
