<div class="mew___components_major-categories page-container">
  <ul>
    <li class="<%= category == 'faqs' ? 'active' : '' %>" ref="tab1"><a href="<%- url_for('/faqs') %>"><span>FAQs</span></a></li>
    <li class="<%= category == 'categories' ? 'active' : '' %>" ref="tab2"><a href="<%- url_for('/categories') %>"><span>Categories</span></a></li>
    <li class="<%= category == 'videos' ? 'active' : '' %>" ref="tab3"><a href="<%- url_for('/videos') %>"><span>Videos</span></a></li>
  </ul>
</div>
