<%
  if(false) {
    console.log(site.posts)
    var primaryCategory = page.primary_category
    console.log(primaryCategory)
    console.log(page._id)
  }  
%>

<% var primaryCategory = page.primary_category %>
<% var pageID = page._id %>

<aside>
  <div class="search-form-container">
    <%- search_form({button: '&#xF002;'}) %>
  </div>
  <div class="sidebar-primary-category">
    <ul>
      <% var counter = 0 %>
      <% site.posts.sort('date', 1).each(function(post){ %>
        <% if(post.primary_category == primaryCategory){ %>
          <% counter++ %>
          <li>
            <a href="<%- url_for(post.path) %>">
              <div class="<%- post._id == pageID ? 'active' : '' %>">
                <div><%= counter %></div>
                <%= post.title || '(no title)' %>
                <p class="hidden"><%= post._id %></p>
              </div>
            </a>
          </li>
        <% } %>
      <% }) %>
    </ul>
  </div>
  <div class="customer">
    <%- partial('mew/components/sidebar/sidebar-customer-support-block', null, {cache: !config.relative_link}) %>
  </div>
</aside>